{{#ember-remodal
  forService=true
  closeOnOutsideClick=false
  modalClasses='frost-modal-dialog'
  onOpen=(action 'modalOpen')
  onClose=(action 'modalClose')
  onConfirm=(action 'confirm')
  closeOnEscape=false
  disableNativeClose=true as |modal|
}}
  {{yield}}
  {{#modal.open}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/modal.open}}

  {{#yield-slot 'header'}}
    {{yield}}
  {{else}}
    <div class="header">
      {{frost-icon
        icon=dialogIcon
        class='icon'}}
      <div class='title'>{{title}}</div>
    </div>
  {{/yield-slot}}

  {{#perfect-scroll
    wheelSpeed=2
    minScrollbarLength=20
    maxScrollbarLength=150}}
    {{#yield-slot 'body'}}
      <div class="body">
        {{#if messageTemplate}}
          {{partial messageTemplate}}
        {{else}}
          <span>{{yield}}</span>
        {{/if}}
      </div>
    {{/yield-slot}}
  {{/perfect-scroll}}

  <div class="footer">
    {{#if confirmAlias}}
      {{#modal.cancel}}
        {{frost-button
          autofocus=true
          size='medium'
          priority='tertiary'
          text=cancelAlias
        }}
      {{/modal.cancel}}
      {{#modal.confirm}}
        {{frost-button
          size='medium'
          priority='primary'
          text=confirmAlias}}
      {{/modal.confirm}}
    {{else}}
      {{#modal.cancel}}
        {{frost-button
          autofocus=true
          size='medium'
          priority='primary'
          text=cancelAlias}}
      {{/modal.cancel}}
    {{/if}}
  </div>
{{/ember-remodal}}
