{{#frost-modal
  modalClass='frost-modal-dialog'
  modalName=modalName
  onOpen=(action 'modalOpen')
  onClose=(action 'modalClose')
  confirm=(action 'confirm') as |slot|
}}
  {{#block-slot slot 'target'}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'header'}}
    {{frost-icon
      icon=dialogIcon
      class='icon'}}
    <div class='title'>{{title}}</div>
  {{/block-slot}}

  {{#block-slot slot 'body'}}
    {{#yield-slot 'body'}}
      <div class="body">
        {{#if messageTemplate}}
          {{partial messageTemplate}}
        {{else}}
          <span>{{yield}}</span>
        {{/if}}
      </div>
    {{/yield-slot}}
  {{/block-slot}}

    {{#if confirmAlias}}
      {{#block-slot slot 'cancel'}}
        {{frost-button
          autofocus=true
          size='medium'
          priority='tertiary'
          text=cancelAlias
        }}
      {{/block-slot}}
      {{#block-slot slot 'confirm'}}
        {{frost-button
          size='medium'
          priority='primary'
          text=confirmAlias}}
      {{/block-slot}}
    {{else}}
      {{#block-slot slot 'cancel'}}
        {{frost-button
          autofocus=true
          size='medium'
          priority='primary'
          text=cancelAlias}}
      {{/block-slot}}
    {{/if}}
{{/frost-modal}}
