<div class="dummy-body">
  <div class="section">
    <div class="example">
      <div class='title'>
        Confirmation Dialog
      </div>
      <div class="demo">
        {{#frost-modal-dialog
          title='confirmation'
          type='confirmation'
          confirmAlias='Confirm'
          onClose=(action 'close')
          onConfirmHandler=(action 'confirm')
          onOpen=(action 'open')
        }}
          {{#block-slot slot 'target'}}
            {{frost-button
              priority="primary"
              size="medium"
              text='Confirmation dialog'
            }}
          {{/block-slot}}
          {{#block-slot slot 'body'}}
            Are you sure you want to confirm this action?
          {{/block-slot}}
        {{/frost-modal-dialog}}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{#frost-modal-dialog
  title='confirmation'
  type='confirmation'
  confirmAlias='Confirm'
  onClose=(action 'close')
  onConfirmHandler=(action 'confirm')
  onOpen=(action 'open')
}}
  {{#block-slot slot 'target'}}
    {{frost-button
      priority='primary'
      size='medium'
      text='Confirmation dialog'
    }}
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    Are you sure you want to confirm this action?
  {{/block-slot}}
{{/frost-modal-dialog}}
  ```"
      }}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="example">
      <div class='title'>
        Information dialog
      </div>
      <div class="demo">
        {{#frost-modal-dialog
          title='Information dialog'
          type='information'}}
          {{#block-slot slot 'target'}}
            {{frost-button
              priority="primary"
              size="medium"
              text='Information dialog'
            }}
          {{/block-slot}}
          {{#block-slot slot 'body'}}
            Test Information block
            {{#each messageContent as |item|}}
              <div>{{item}}</div>
            {{/each}}
          {{/block-slot}}
        {{/frost-modal-dialog}}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{#frost-modal-dialog
  title='Information dialog'
  type='information'}}
  {{#block-slot slot 'target'}}
    {{frost-button
      priority='primary'
      size='medium'
      text='Information dialog'
    }}
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    Test Information block
    {{#each messageContent as |item|}}
      <div>{{item}}</div>
    {{/each}}
  {{/block-slot}}
{{/frost-modal-dialog}}
        ```"}}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="example">
      <div class='title'>
        Warning dialog
      </div>
      <div class="demo">
        {{#frost-modal-dialog
          title='Warning dialog'
          type='warning'}}
          {{#block-slot slot 'target'}}
            {{frost-button
              priority="primary"
              size="medium"
              text='Warning dialog'
            }}
          {{/block-slot}}
          {{#block-slot slot 'body'}}
            Test Warning
          {{/block-slot}}
        {{/frost-modal-dialog}}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{#frost-modal-dialog
  title='Warning dialog'
  type='warning'}}
  {{#block-slot slot 'target'}}
    {{frost-button
      priority='primary'
      size='medium'
      text='Warning dialog'
    }}
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    Test Warning
  {{/block-slot}}
{{/frost-modal-dialog}}
```"}}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="example">
      <div class='title'>
        Error dialog
      </div>
      <div class="demo">
        {{#frost-modal-dialog
          title='Error dialog'
          type='error'
          confirmAlias='Retry'
          onClose=(action 'close')
          onConfirmHandler=(action 'retry')
          onOpen=(action 'open')
        }}
          {{#block-slot slot 'target'}}
            {{frost-button
              priority="primary"
              size="medium"
              text='Error dialog'
            }}
          {{/block-slot}}
          {{#block-slot slot 'body'}}
            Test Error
          {{/block-slot}}
        {{/frost-modal-dialog}}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{#frost-modal-dialog
  title='Error dialog'
  type='error'
  confirmAlias='Retry'
  onClose=(action 'close')
  onConfirmHandler=(action 'retry')
  onOpen=(action 'open')
}}
  {{#block-slot slot 'target'}}
    {{frost-button
      priority='primary'
      size='medium'
      text='Error dialog'
    }}
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    Test Error
  {{/block-slot}}
{{/frost-modal-dialog}}
```"}}
      </div>
    </div>
  </div>
</div>
